a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

header {
    background: #5bcaec;
    padding:    20px
    
}

section {
    background: rgb(216, 214, 214);
    padding: 10px 30px 10px 20px
}

footer {
    background: #1487aa;
    padding:    20px
}
div {
    display: inline-block;
    width: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

li {
    display: inline-block;
    margin: 0px 15px 0px 0px;
}
