body {
    background: #dddbdb;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

header {
    background: #5bcaec;
    padding:    20px
    
}

section {
    background: rgb(216, 214, 214);
    padding: 10px 30px 10px 20px
}

footer {
    background: #1487aa;
    padding:    20px
}


