{% extends 'layout.html' %}
{% block content %}

<body>
  <div class="modal-body">
    <div class="mt-6">
      <h7>Techniker Carstock auswählen:</h7>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/carstock">Techniker:</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTechniker"
          aria-controls="navbarTechniker" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTechniker">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/kzb">Konrad Zbinden</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aka">Alexander Kauer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jwi">Jan Willimann</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  </nav>
  <div class="modal-body">
    <div class="mt-6">
      <table id="proxies" class="display table nowrap responsive" style="width: 100%">
        <thead class="thead-dark">
          <tr>
            <th>Techniker
            <th>Anzahl
            <th>Ref
            <th>Bezeichnung
            <th>Lot
            <th>Ablaufdatum
            <th>Details
            <th>Gerät
        </thead>
        <tbody>
          {% for ersatzteile_techniker in ersatzteile_techniker %}
          <tr>
            <td>{{ersatzteile_techniker.Techniker}}
            <td>{{ersatzteile_techniker.Anzahl}}
            <td>{{ersatzteile_techniker.Artikelnummer}}
            <td>{{ersatzteile_techniker.Bezeichnung}}
            <td>{{ersatzteile_techniker.Lot}}
            <td>{{ersatzteile_techniker.Ablaufdatum}}
            <td>{{ersatzteile_techniker.Details}}
            <td>{{ersatzteile_techniker.Geraet}}
          </tr>
    </div>
  </div>
  </div>
  {% endfor %}
  </tbody>
  </table>
  </div>
</body>
{% endblock %}