<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/static/images/Nova logo.jpg" width="100" height="45" alt="">
    <a class="navbar-brand" href="/">Web Carstock</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carstock">Lagerliste Techniker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bestellungen">Bestellungen</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/eingang">Eingänge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ausgang">Ausgänge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ersatzteilliste">Ersatzteilliste</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href='logout'><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
      </ul>              
    </div>
  </nav>
</header>

{% extends 'layout.html' %}
{% block content %}

<body>
  <!-- Flash Message-->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close"><span
        aria-hidden="true">x</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <button type="button" class="btn btn-success float-sm-right" data-toggle="modal" data-target="#mymodal">Neuer
    Eintrag</button>

  <table id="proxies" class="display table nowrap responsive" style="width: 100%">
    <thead class="thead-dark">
      <tr>
        <th>Techniker
        <th>Datum
        <th>Anzahl
        <th>Ref
        <th>Bezeichnung
        <th>Lot
        <th>Ablaufdatum
        <th>Details
        <th>Gerät
    </thead>
    <tbody>
      {% for ersatzteile_eingang in ersatzteile_eingang %}
      <tr>
        <td>{{ersatzteile_eingang.Techniker}}
        <td>{{ersatzteile_eingang.Datum}}
        <td>{{ersatzteile_eingang.Anzahl}}
        <td>{{ersatzteile_eingang.Artikelnummer}}
        <td>{{ersatzteile_eingang.Bezeichnung}}
        <td>{{ersatzteile_eingang.Lot}}
        <td>{{ersatzteile_eingang.Ablaufdatum}}
        <td>{{ersatzteile_eingang.Details}}
        <td>{{ersatzteile_eingang.Geraet}}
    <!-- Bearbeiten    <td>
          <div class="btn-group float-sm-right" role="group">
            <a href="/update_ersatzteile/{{ersatzteile_eingang.id}}"
              class="btn btn-outline-info btn-xs float-sm-right" data-toggle="modal"
              data-target="#modaledit{{ersatzteile_eingang.id}}">Edit</a> -->
          </div>
      </tr>
      </div>

      <!-- Modal Edit Employee-->
      <div id="modaledit{{ ersatzteile_eingang.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update: {{ersatzteile_eingang.Artikelnummer}}-{{ersatzteile_eingang.Bezeichnung}}</h4>
            </div>

            <div>
              <form action="{{url_for('update_eingang')}}" method="POST">
                <div class="form-group">
                  <input type="hidden" name="id" value="{{ersatzteile_eingang.id}}">
                </div>
                <div class="form-group">
                  <label>Techniker</label>
                  <input type="text" class="form-control" name="Techniker" value="{{ersatzteile_eingang.Techniker}}">
                </div>
                <div class="form-group">
                  <label>Datum</label>
                  <input type="date" class="form-control" name="Datum" value="{{ersatzteile_eingang.Datum}}">
                </div>
                <div class="form-group">
                  <label>Anzahl</label>
                  <input type="number" class="form-control" name="Anzahl" value="{{ersatzteile_eingang.Anzahl}}">
                </div>
                <div class="form-group">
                  <label>Artikelnummer</label>
                  <input type="number" class="form-control" name="Artikelnummer" value="{{ersatzteile_eingang.Artikelnummer}}">
                </div>

                <div class="form-group">
                  <label>Bezeichnung</label>
                  <input type="text" class="form-control" name="Bezeichnung"
                    value="{{ersatzteile_eingang.Bezeichnung}}">
                </div>
                <div class="form-group">
                  <label>Lot</label>
                  <input type="number" class="form-control" name="Lot" value="{{ersatzteile_eingang.Lot}}">
                </div>
                <div class="form-group">
                  <label>Ablaufdatum</label>
                  <input type="date" class="form-control" name="Ablaufdatum"
                    value="{{ersatzteile_eingang.Ablaufdatum}}">
                </div>
                <div class="form-group">
                  <label>Details</label>
                  <input type="text" class="form-control" name="Details" value="{{ersatzteile_eingang.Details}}">
                </div>
                <div class="form-group">
                  <label>Gerät</label>
                  <input type="text" class="form-control" name="Geraet" value="{{ersatzteile_eingang.Geraet}}">
                </div>

                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </table>

  <!-- Modal Ersatzteil hinzufügen-->
  <div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ersatzteil hinzufügen</h4>
        </div>

        <div class="modal-body">
          <form action="{{url_for('insert_eingang')}}" method="POST">
            <div class="form-group">
              <label>Techniker</label>
              <input type="text" class="form-control" id="User" name="Techniker" list="User-list" required="1">
                <datalist id="User-list">
                  <option>KZB</option>
                  <option>JWI</option>
                  <option>AKA</option>
              </div>
            <div class="form-group">
              <label>Datum Eingang</label>
              <input type="date" class="form-control" name="Datum">
            </div>
            <div class="form-group">
              <label>Anzahl</label>
              <input type="number" class="form-control" name="Anzahl" required="1">
            </div>
            <div class="form-group">
              <label>Artikelnummer</label>
              <input type="text" class="form-control" name="Artikelnummer" required="1">
            </div>
            <div class="form-group">
              <label>Bezeichnung</label>
              <input type="text" class="form-control" name="Bezeichnung">
            </div>
            <div class="form-group">
              <label>Lot</label>
              <input type="number" class="form-control" name="Lot">
            </div>
            <div class="form-group">
              <label>Ablaufdatum</label>
              <input type="date" class="form-control" name="Ablaufdatum">
            </div>
            <div class="form-group">
              <label>Details</label>
              <input type="text" class="form-control" name="Details">
            </div>
            <div class="form-group">
              <label>Gerät</label>
              <input type="text" class="form-control" id="Geraet" name="Geraet" list="Geraete-list">
                <datalist id="Geraete-list">
                  <option>Flex</option>
                  <option>Flex2</option>
                  <option>BP100+/400</option>
                  <option>BP300</option>
                  <option>Phox</option>
                  <option>Allegro</option>
                  <option>Prime</option>
                  <option>PrimePlus</option>
              </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Hinzufügen</button>
            </div>
          </form>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </tbody>
</body>
{% endblock %}