{% extends 'layout.html' %}
{% block content %}

<body>
      <table id="proxies" class="display table nowrap responsive" style="width: 100%">
        <thead class="thead-dark">
          <tr>
            <th>Ref
            <th>Bezeichnung
            <th>Details
            <th>Gerät
            <th>Bearbeiten
        </thead>
        <tbody>
          {% for Ersatzteile in Ersatzteile %}
          <tr>
            <td>{{Ersatzteile.Artikelnummer}}
            <td>{{Ersatzteile.Bezeichnung}}
            <td>{{Ersatzteile.Details}}
            <td>{{Ersatzteile.Geraet}}
            <td><a href="/liste-delete/{{Ersatzteile.ID}}" class="btn btn-outline-danger btn-xs float-sm-right"
                onclick="return confirm('Are You Sure To Delete ?')">X</a>
          </tr>
    </div>
  </div>
  </div>
  {% endfor %}
  </tbody>
  </table>
</body>
{% endblock %}