<!doctype html>
<html>
<head>
    <title>Ersatzteilliste</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Carstock</a></li>
                <li><a href="bestellungen">Bestellungen</a></li>
                <li><a href="ersatzteilliste">Ersatzteilliste</a></li>
            </ul>
        </nav>
    </header>

    <section>
    <h1>Ersatzteilliste:</h1>
    <div><a href="/process/"><button>Button</button></a></div>
    </section>

    <footer>Footer</footer>
         
</body>
</html>
