<!doctype html>
<html>
<head>
    <title>Carstock - ersatzteilliste</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<header>
    <nav>
        <ul>
            <li><a href="/">Carstock</a></li>
            <li><a href="bestellungen">Bestellungen</a></li>
            <li><a href="ersatzteilliste">Ersatzteilliste</a></li>
            <li><form class="form-inline my-2 my-lg-0"></li>
            <li> <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> </form></li>
        </ul>
    </nav>
</header>
  
<body>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Artikelnummer</th>
            <th scope="col">Bezeichnung</th>
            <th scope="col">Details</th>
            <th scope="col">Gerät</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">{% for Ersatzteile in Ersatzteile %}
                <p>{{Ersatzteile.Artikelnummer}}</p>
              {% endfor %}</th>

            <td>{% for Ersatzteile in Ersatzteile %}
                <p>{{Ersatzteile.Bezeichnung}}</p>
              {% endfor %}</td>

            <td>@{% for Ersatzteile in Ersatzteile %}
                <p>{{Ersatzteile.Details}}</p>
              {% endfor %}</td>

            <td>@{% for Ersatzteile in Ersatzteile %}
                <p>{{Ersatzteile.Geraet}}</p>
              {% endfor %}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      
</body>

<footer>

    Footer

</footer>
         

</html>
