{% extends 'layout.html' %}
{% block content %}
<body>
  <h7>Techniker Carstock auswählen:</h7>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Techniker:</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/kzb">Konrad Zbinden</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Alexander Kauer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Jan Willimann</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <div class="mt-4">
      <table id="proxies" class="display table nowrap responsive" style="width: 100%">
          <thead class="thead-dark">
              <tr>
                <th>Techniker
                <th>Anzahl
                <th>Ref
                <th>Bezeichnung
                <th>Lot
                <th>Ablaufdatum
                <th>Details
                <th>Gerät
            </thead>
              <tbody>
                <tr>
                <td>KZB
                <td>2
                <td>24453
                <td>pH - Sensor
                <td>19240014
                <td>31.08.2020
                <td>6 Month Warranty, 18 Month Shelf Life
                <td>BP 300
                </tr>        
              </tbody>
      </table>       
    </div>
</body>
{% endblock %}