{% extends 'layout.html' %}
{% block content %}

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/carstock">Techniker:</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTechniker"
      aria-controls="navbarTechniker" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTechniker">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/kzb">Konrad Zbinden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aka">Alexander Kauer</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/jwi">Jan Willimann<span class="sr-only">(current)</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="modal-body">
    <div class="mx-auto">

      <table id="proxies" class="display table nowrap responsive" style="width: 100%">
        <thead class="thead-dark">
          <tr>
            <th>Anzahl
            <th>Ref
            <th>Bezeichnung
            <th>Lot
            <th>Ablaufdatum
            <th>Details
            <th>Gerät
        </thead>
        <tbody>
          {% for ersatzteile_eingang in ersatzteile_jwi %}
          <tr>
            <td>{{ersatzteile_eingang.Anzahl}}
            <td>{{ersatzteile_eingang.Artikelnummer}}
            <td>{{ersatzteile_eingang.Bezeichnung}}
            <td>{{ersatzteile_eingang.Lot}}
            <td>{{ersatzteile_eingang.Ablaufdatum}}
            <td>{{ersatzteile_eingang.Details}}
            <td>{{ersatzteile_eingang.Geraet}}
          </tr>
    </div>
    {% endfor %}
    </table>
  </div>
  </tbody>
</body>
{% endblock %}